<div id="content-<%= UUID %>">

	<section class="content">
	  <h1><%= copy.title %></h1>
		<p><%= copy.blurb %>.</p>
		<p class="directions-input-income"><%= copy.directions.income %><a class="cta tax-input-toggle"><%= copy.cta.taxes %></a>.</p>
		<p class="hide directions-input-tax-paid"><%= copy.directions.taxes %><a class="cta tax-input-toggle"><%= copy.cta.income %></a>.</p>
	</section>

	<section class="forms">
		<div class="form input-income">

			<span>$</span><input class="income" ></input><span>.00</span>

			<form>
				<input type="radio" name="filing-status" value="single" checked> Single<br>
				<input type="radio" name="filing-status" value="mfj"> Married Filing Jointly<br>
				<input type="radio" name="filing-status" value="mfs"> Married Filing Separately<br/>
				<input type="radio" name="filing-status" value="hoh"> Head of Household<br/>
			</form>

			<button class="calculate">Calculate</button>

		</div>

		<div class="form input-taxes hide">

			<span>$</span><input class="taxespaid" ></input><span>.00</span>

			<button class="calculate">Calculate</button>

		</div>

	</section>



</div>
