#content-root {
	section.form {
		text-align: left;

		input {
			border: 1px #ddd solid;
			display: inline-block;
			padding: 5px;
			margin: 5px;
			border-radius: 3px;
			max-width: 100px;
			&.income,
			&.taxespaid {

			}
			&::selection {
				background: $niceBlue;
			}
		}

		button.calculate {
			display: block;
			border: 1px #ddd solid;
			border-radius: 3px;
			margin: 10px 0px;
			background: #91b5e5;
			padding: 10px;
			color: #fff;
		}

		&.ready {
			button.calculate {
				background: $niceBlue;
			}
		}
	}
}
