// It is really a lot easier to manage All indexes in one file and location
// declare the variables here

$z-negative =-1;

$z-one = 1;

$z-header = 100;

$z-pagination = 105;

$z-modal = 1000;

$z-snowBkgdWrapper = 0;

$z-cover = 1;
$z-tracklist = 0;
