#about {
	border-top: 1px solid #ddd;

	section {
		padding: 50px 0px 25px 0px;
		text-align: left;

		ul {
			li {
				padding: 5px 0px;
				font-size: 0.75rem;
				a {
					color: #666;
					text-decoration: underline;
				}
			}
		}
	}
}
