#about {

	section {
		border-top: 1px solid $colorborder;
		padding: 40px 0px 40px 0px;
		text-align: left;

		p {
			.calculation {
				display: block;
				text-transform: uppercase;
				color: #574152;
				background: #f6f8fa;
				padding: 5px;
				font: 12px Courier, monospace;
			}
		}

		ul {

			li {
				padding: 5px 0px;
				font-size: 0.75rem;
				a {
					color: #666;
					text-decoration: underline;
				}
			}
		}
	}
}
